<div *ngIf='!showSpinner'>

    <div class="main-title">
        <h1>Organization Name: </h1>
        <h1 class="organization">{{organizationName}}</h1>
    </div>

    <mat-form-field>
        <mat-select placeholder="Subject">
            <mat-option *ngFor="let Subject of Subjects" [value]="Subject.Name">
                {{Subject.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>
<mat-spinner diameter="300" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>