.main-title{
    display: flex;
    flex-direction: row;
}
.organization{
    color: orange;
}
.question-table{
    display: flex;
    flex-direction: column;
}
.lower-buttons{
    display: flex;
    justify-content: space-between;
}
h4{
    color: blue
}